{% extends 'base.html' %}

{% block header %}
  {% include 'blue_navbar.html' %}
{% endblock %}

{% block content %}
  <div class="container">
    {% csrf_token %}
    <a href="{% url 'go_back' %}" class="btn btn-md btn-primary light-top-margin">Torna indietro</a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Città</th>
          <th scope="col">Albergo</th>
          <th scope="col">Periodo</th>
          <th scope="col">Costo</th>
          <th scope="col">Modifica</th>
          <th scope="col">Elimina</th>
        </tr>
      </thead>
      <tbody>
        {% for res in query %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ res.cost.room.hotel.city }}</td>
          <td>{{ res.cost.room.hotel.name }}</td>
          <td>{{ res.begin_date }} - {{ res.end_date}}</td>
          <td>{{ res.total_cost }}</td>
          <td>
            <a href={% url 'update_reservation' res.id %} id="btn" class="btn btn-md btn-primary">
              <ion-icon name="create-outline"></ion-icon>
            </a>
          </td>
          <td>
            <a href={% url 'delete_reservation' res.id %} id="btn" class="btn btn-md btn-danger">
              <ion-icon name="trash-outline"></ion-icon>
            </a>
          </td>
        </tr>
        {% endfor%}
       </tbody>
    </table>
  </form>
{% endblock %}