{% extends 'base.html' %}

{% block header %}
  {% include 'blue_navbar.html' %}
{% endblock %}

{% block content %}
  <form class="container" method="post" action="">
    {% csrf_token %}
    <div class="row big-top-margin">
      <div class="col-lg-8 col-lg-offset-2">
        {% for field in form %}
        <div class="col-lg-6">
          {{field.label}}
          {{field}}
        </div>
        {% endfor %}
        <div class="col-lg-12 stick-to-end ">
          <button class="btn btn-lg btn-danger">Annulla</button>
          <button class="btn btn-lg btn-primary light-left-margin">Entra</button>
        </div>
      </div>
    </div>
  </fo>
{% endblock %}