* {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: sans-serif;
    margin: 0;
    margin-top: 8px;
}

.container {
    display: grid;
    width: 1000px;
    height: 700px;
    grid-template-rows: auto 1fr auto;
    margin: 0 auto;
    position: relative;
}

.container:last-child{
    margin-left: 200px;
}

.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


form{
    display: flex;
    background-color: antiquewhite;
    padding: 40px;
    flex-direction: column;
    gap: 20px;
}

.client-data{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: inherit;

    font-size: large;
}

.half-row-data{
    display: flex;
    flex-direction: column;
}

input{
    height: 25px;
    margin-top: 4px;
    width: 240px;
}

button{
    height: 32px;
    margin: 0px 170px;
    font-size: large;
}

a{
    margin: 0 auto;
}

