<div class="form-group base-height light-top-margin" id="holder-2"> 
    <small id="label" for="input">Quante persone?</small>
    <input type="email" class="form-control input">
  </div>
  <div class="form-group base-height" id="holder-2"> 
    <small id="label" for="input">Partenza</small>
    <input type="email" class="form-control input" id="datepicker1">
  </div>
  <div class="form-group base-height" id="holder-2"> 
    <small id="label" for="input">Ritorno</small>
    <input type="email" class="form-control input" id="datepicker2">
  </div>
  <div class="form-group base-height" id="holder-2"> 
    <small id="label" for="input">Quante persone?</small>
    <input type="email" class="form-control input">
  </div>
  <div class="form-group base-height" id="holder-2"> 
    <a href="search.html" class="btn btn-lg active btn-block base-height button-color" role="button" aria-pressed="true">CERCA</a> 
  </div>