{% extends 'base.html' %}

{% block header %}
  {% include 'blue_navbar.html' %}
{% endblock %}

{% block content %}
<form class="find-section container" action="" method="get">
  <div id="filters" class="col-lg-3">
    <div id="main-filters" class="col-lg-12 thin-border">
      {% include 'search_bar.html' %}
    </div>
    <div id="secondary-filters" class="col-lg-12 thin-border light-top-margin">
      <div class="row bottom-border">
        <h4 id="filtra-per" class="light-left-margin filter-font-titles">Filtra per:</h4>
      </div>
      <div class="row">
        <div class="top-border"></div>
        <h4 class="light-left-margin filter-font-titles-secondary">Servizi</h4>
      </div>
      <div class="row">
        {% for activity in activities %}
          <div class="col-lg-12">
            {% if activity.one_activity in checked_activities %}
              <input id="{{activity.one_activity}}" value="{{activity.one_activity}}" type="checkbox" checked name="activities" class="light-left-margin checkbox-dim">
            {% else %}
              <input id="{{activity.one_activity}}" value="{{activity.one_activity}}" type="checkbox" name="activities" class="light-left-margin checkbox-dim">
            {% endif %}
            <span class="filter-font">{{ activity.one_activity }}</span>
          </div>
          {% endfor%}
      </div>
      {% comment %} <div class="row">
        <div class="top-border"></div>
        <h4 class="light-left-margin filter-font-titles-secondary">Stelle</h4>
        {% for e in stelle %}
          <div class="col-lg-12">
            <span>{{ e }}</span>
          </div>
        {% endfor %}
      </div> {% endcomment %}
    </div>
  </div>

  <div class="col-lg-9">
      {% for cost, week_cost in costs %}
        <div id="single-search-result" class="row thin-border light-bottom-margin">
          <div class="col-lg-4 light-top-bot-margin">
            <img src="{{ cost.room.photo }}" alt="" class="img-thumbnail">
            {{ cost.room.hotel.name }}
          </div>
          <div class="col-lg-6 light-top-bot-margin text-wrap overflow-auto">
            <span class="overflow-auto">{{ cost.room.description }}</span>
          </div>
          <div class="col-lg-2 light-top-bot-margin">
              <span>{{ week_cost }}</span>
              <a href="{% url 'reserve_room' cost_id=cost.id start=string_start end=string_end %}"class="btn-lg btn-primary light-top-margin">Prenota</a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endblock %}
</form>
