{% extends 'base.html' %}
{% block container %}
<div class="hero grid-main" >
  {% include 'navbar.html' %}
  <form action="#" method="get" class="container">
    <div class="row">
      {% for field in form %}
        {% if field.label == 'Dove andiamo?' %}
          <div class="col-lg-offset-2 col-lg-8">
            <div class="form-group base-height" id="holder-1" > 
              <small id="label" for="input">{{field.label}}</small>
              {{ field }}
            </div>
          </div>
        {% elif field.label == 'Ritorno' %}
          <div class="col-lg-4">
            <div class="form-group base-height" id="holder-2"> 
              <small id="label" for="input">{{field.label}}</small>
              {{ field }}
            </div>
          </div>
        {% else %}
          <div class="col-lg-offset-2 col-lg-4">
            <div class="form-group base-height" id="holder-2"> 
              <small id="label" for="input">{{field.label}}</small>
              {{ field }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
      <div class="col-lg-4">
        <div class="form-group base-height" id="holder-2">
          <input type=submit value=Cerca class="btn btn-lg active btn-block base-height button-color">
        </div>
      </div>
    </div>
  </form>
  </div>
{% endblock %}