<div class="container">
  <div class="col-lg-1 col-lg-offset-1 top-nav" >
    <a href={% url 'home' %} class="links" >HOTELS</a>
  </div>
  <div class="col-lg-10 top-nav stick-to-end">
    <a href={% url 'hotel_list'%} class ="links">Le mie strutture<a/>
    <span>|</span>
    <a href={% url 'my_reservations' %} class="links">Mie Prenotazioni</a>
    <span>|</span>
    <a href={% url 'hotel' %} class="links">Registra la tua struttura</a>
    <span>|</span>
    {% if user.is_authenticated %}
    <span>{{user.username}}</span>
    <span>|</span>
    <a href={% url 'logout' %} class="links">logout</a>
    {% else %}
    <a href={% url 'register' %} class="links">Registrati</a>
    <span>|</span>
    <a href={% url 'log_in' %} class="links">Accedi</a>
    {% endif %}
  </div>
</div>